.lato-font {
    font-family: 'Lato', sans-serif;
}

.roboto-mono-font {
    font-family: 'Roboto Mono', monospace;
}

.form-background {
    background-color: #e1edf7;
}

.team {
    text-align: center;
    display: grid;
    max-width: 2000px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 10%;
}

.contact-title {
    text-align: center;
    font-size: calc(40px + 0.390625vw);
    background-color: #243746;
    color: white;
    margin-bottom: 0;
}

.contact-center {
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 25%;
}