.box {
    flex-direction: column;
    display: flex;
    padding: 20px;
    background-color: #233746;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.col1{
    padding-right: 7%;
}

.heading {
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

.footer-link {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    text-decoration: none;
    color: rgb(14, 161, 187);
    transition: 150ms ease;
}

.footer-logo {
    padding-top: 10px;
    width: 250px;
}

.footer-info {
    color: white;
}

.copyright {
    color: white;
    text-align: center;
}