.Nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  z-index: 2;
}

.logoNav {
  width: 275px;
  padding: 15px 0px 15px 0px;
}

.header a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: 400; /* Normal font weight */
  min-width: 80px; /* Ensures uniform width */
  text-align: center; /* Centers text within the link */
  margin-right: 20px; /* Adds consistent spacing between links */
}

.header .home-btn {
  margin-right: 10px;
}

.header a:last-child {
  margin-right: 0; /* Removes margin after the last link */
}

.header a:hover {
  font-weight: 700; /* Apply bold on hover */
}


.dropdown-content {
  display: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
}

.closebtn {
  display: none; /* Hidden on larger screens */
}

@media screen and (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: center;
      transition: transform 0.5s ease-out;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateY(-100%);
      justify-content: center;
      opacity: 0;
      pointer-events: none;
  }

  .header.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
  }

  .header a {
      font-size: 20px;
      color: white;
      padding: 15px 0;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header.open a:last-child {
      border-bottom: none;
  }

  .hamburger {
      display: block;
  }

  .closebtn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 40px;
      color: white;
      cursor: pointer;
      z-index: 3;
  }
}
