@import "react-image-gallery/styles/css/image-gallery.css";

.background {
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: column;
}

.image-gallery-image {
    cursor: default !important;
  }

.image-gallery-slide {
    left: 0;
    top: 0;
    max-height: auto;
}

.core-values-title {
    text-align: center;
    font-size: calc(30px + 0.390625vw);
}

.banana-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Under Construction site

.homeContainer {
    background-color: #233746;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.whiteLogo {
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.whiteLogo img {
    width: 100%;
    height: auto;
}
*/