.lato-font {
    font-family: 'Lato', sans-serif;
}

.roboto-mono-font {
    font-family: 'Roboto Mono', monospace;
}

.resource-title {
    text-align: center;
    font-size: calc(40px + 0.390625vw);
    background-color: #243746;
    color: white;
    margin-top: 0;
}

.max-width-resource {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
}

.resource-description{
    text-align: center;
    font-size: calc(20px + 0.390625vw);
    margin-left: 3%;
    margin-right: 3%;
}

.resource-link {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: calc(15px + 0.390625vw);
}

.resource-link:hover {
    text-decoration: underline;
}

.resource-box {
    background-color: azure;
}

.resource-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}


.item1-resource {
    background-color: #dadada;
    border-radius: 35px;
}

.single-resource {
    display: grid;
    margin: auto;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    max-width: 33%;
}

.single-resource-description{
    text-align: center;
    font-size: calc(20px + 0.390625vw);
    margin-bottom: 0;
}